.amplification {
  background-color: yellow;
}

.emph {
  background-color: lightblue;
}

.irony {
  background-color: pink;
}

.imagery {
  background-color: lightgreen;
}

.allusion {
  background-color: lavender;
}

.contrast {
  background-color: orange;
}

.name {
  background-color: skyblue;
}

.place {
  background-color: lightgray;
}

.rhetoricalQuestion {
  background-color: salmon;
}
