body {
    background-color: #ddc9b4
}
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 150px;
  border: 1px solid black;
  padding: 5px;
  overflow-y: auto;
  column-count: 2;
  column-gap: 10px;
}

.checkbox-container label {
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid black;
}

p span {
  font-weight: bold;
}

.amplification.highlightable {
  background-color: yellow;
}

.emph.highlightable {
  background-color: lightblue;
}

.irony.highlightable {
  background-color: lightgreen;
}

.imagery.highlightable {
  background-color: lightsalmon;
}

.allusion.highlightable {
  background-color: pink;
}

.contrast.highlightable {
  background-color: lavender;
}

.name.highlightable {
  background-color: gray;
}

.place.highlightable {
  background-color: brown;
}

.rhetoricalQuestion.highlightable {
  background-color: #FF9797;
}

.motif.highlightable {
  background-color: aqua;
}

.anaphora.highlightable {
  background-color: lime;
}

.parallelism.highlightable {
  background-color: teal;
}

.metaphor.highlightable {
  background-color: fuchsia;
}

.simile.highlightable {
  background-color: silver;
}





