main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.checkbox-container {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}
div:lang(ar) {
    direction: rtl;
}