main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.checkbox-container {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}
div:lang(ar) {
    direction: rtl;
}

.amplification.highlighted {
  background-color: yellow;
}

.emph.highlighted {
  background-color: lightblue;
}

.irony.highlighted {
  background-color: lightgreen;
}

.imagery.highlighted {
  background-color: lightsalmon;
}

.allusion.highlighted {
  background-color: pink;
}

.contrast.highlighted {
  background-color: lavender;
}

.name.highlighted {
  background-color: gray;
}

.place.highlighted {
  background-color: brown;
}

.rhetoricalQuestion.highlighted {
  background-color: #FF9797;
}

.motif.highlighted {
  background-color: aqua;
}

.anaphora.highlighted {
  background-color: lime;
}

.parallelism.highlighted {
  background-color: teal;
}

.metaphor.highlighted {
  background-color: fuchsia;
}

.simile.highlighted {
  background-color: silver;
}





