body {
    background-color: #C17C74;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    z-index: 1;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links a {
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

.navbar-links a:hover {
    background-color: #fff;
    color: #333;
}

.boxed {
    background-color: #DDC9B4;
    border: 1px solid white;
    border-style: ridge;
    padding: 50px;
    margin: 20px;
}

#index .index,
#about .about,
#methods .methods,
#texts .texts,
#analysis .analysis,
#conclusions .conclusions {
    background-color: #C17C74
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  max-width: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
}

.image-container:hover .overlay {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.9);
}

h1 {
    font-family: "Lucida Bright", serif;
    font-size: 50px;
    color: #2A3D45;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;
}

h2 {
    font-family: "Lucida Bright", serif;
    font-size: 30px;
    color: #2A3D45;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;
}

h3 {
    font-family: "Lucida Bright", serif;
    font-size: 20px;
    color: #2A3D45;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;
}

p {
    font-family: "Lucida Bright", serif;
    font-size: 15px;
    color: black;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;
}

span {
    font-weight: bold;
}

.ex {
    font-style: italic;
}

.translit {
    font-style: italic;
}
.image-container {
    position: relative;
}

.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.author.ali:hover img {
    display: block;
}

.author.pickthall:hover img {
    display: block;
}

.author img {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
    width: 200px;
    height: 200px;
}
.fleximage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  border: 1px solid black;
  margin-top: 50px;
}

.image-link {
  position: relative;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.image-link:hover .overlay {
  opacity: 1;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.7);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.image-container:hover .text-overlay {
  opacity: 1;
}

.fleximage img {
  width: 100%;
  height: 252px;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.fleximage a {
  display: block;
}

