body {
    background-color: #C17C74
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 60px;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links a {
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

.navbar-links a:hover {
    background-color: #fff;
    color: #333;
}

h1{font-family: "Lucida Bright", serif;
   font-size: 50px;
   color: #2A3D45;
   text-align: center;
   margin-top: 60px;
}

h2{font-family: "Lucida Bright", serif;
   font-size: 30px;
   color: #2A3D45;
   text-align: center;
}

h3{font-family: "Lucida Bright", serif;
   font-size: 20px;
   color: #2A3D45;
   text-align: center;
   }

p {
    font-family: "Lucida Bright", serif;
    font-size: 15px;
    color: black;
    text-align: left;
}

span {
    font-weight: bold;
}
.image-container {
    display: block;
    margin: 0 auto;
    max-width: 900px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}





